# Make vim the default editor
export EDITOR="vim"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
# don't put dupes and commands that start with a space into history
export HISTCONTROL=ignoreboth
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# current endcards directory
export cards="/Users/joshuaconner/html5-endcards/$(date "+%Y/%m")/"

shopt -s cdable_vars

export RBENV_ROOT=/usr/local/var/rbenv

export EC2_HOME=/Users/joshuaconner/ec2-api-tools

export GOPATH="$(brew --prefix)/Cellar/go/1.2.1/libexec/bin"
export PATH="$PATH:$GOPATH/bin"

# no ansible cows
export ANSIBLE_NOCOWS=1

export JAVA_HOME=$(/usr/libexec/java_home)
export SCALA_HOME=$(brew --prefix)/Cellar/scala/2.9.2/libexec

# export NEBULA_ENV="josh"

export NVM_DIR=~/.nvm

export VIRTUALENVWRAPPER_VIRTUALENV_ARGS='--no-site-packages'

export PYENV_ROOT=/usr/local/var/pyenv
