# Make vim the default editor
export EDITOR="vim"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoredups
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# Prefer US English and use UTF-8
export LANG="en_US"
export LC_ALL="en_US.UTF-8"

# Highlight section titles in manual pages
export LESS_TERMCAP_md="$ORANGE"

# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# current endcards directory
export cards="/Users/joshuaconner/html5-endcards/$(date "+%Y/%m")/"

shopt -s cdable_vars

# enable JRebel for scalatra dev
export SCALATRA_JREBEL="/Users/joshuaconner/jrebel/jrebel.jar"

export NODE_PATH="/usr/local/lib/node_modules:/usr/local/share/npm/lib/node_modules"

export RBENV_ROOT=/usr/local/var/rbenv

export EC2_HOME=/Users/joshuaconner/ec2-api-tools

export GOPATH="$HOME/go"

# no ansible cows
export ANSIBLE_NOCOWS=1
